<%-include("./partials/header.ejs")%>

<div class="container mt-3">
	<h2 >
	Log in
</h2>
	<form action="/login" method="POST" class="form-group">
		<input class="w-25 mb-3 form-control mx-auto" type="text" name="username" placeholder="Username">
		<input class="w-25 mb-3 form-control mx-auto" type="password" name="password" placeholder="Password">
		<input class="w-25 btn btn-primary mx-auto btn-block" type="submit" value="login">
	</form>
	<a href="/register" class="mx-auto">need to register!?</a>
</div>



<%-include("./partials/footer.ejs")%>